{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": "> 0.25%, not dead",
        // for uglifyjs...
        // "forceAllTransforms": api.env("production")
      }
    ]
  ],
  "plugins": [
    "transform-vue-jsx",
    ["@babel/plugin-transform-runtime"],
    ["@babel/plugin-proposal-pipeline-operator", { "proposal": "minimal" }],
    ["@babel/plugin-syntax-dynamic-import"]
  ]
}